/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

*.apk
*.aab
*.unitypackage
*.app

.DS_Store
Thumbs.db

*.tmp
*.log